body {
    font-family: Tahoma, Verdana, sans-serif;
    background-color: rgb(206, 228, 248);
    color: rgb(19, 52, 96);
}

.title {
    color:rgb(19, 52, 96);
    background-color:rgb(230, 241, 246);
    font-size: 42px;
    text-align: center;
    border: double 20px rgb(19, 52, 96);
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.button {
    font-size: 24px;
    color: rgb(230, 241, 246);
    background-color: rgb(19, 52, 96);
    outline-color: rgb(19, 52, 96);
    border-color: rgb(19, 52, 96);
    border-radius: 7px;
    font-family: Tahoma, Verdana, sans-serif;
    outline-color: transparent;
    display: block;
    margin: 30px auto;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.button:hover {
    color: rgb(19, 52, 96);
    background-color: rgb(206, 228, 248);
    transition: 0.2s;
}

.button:focus {
    outline-style: solid;
    box-shadow: 0 0 0 3px rgb(1, 132, 220);
    transition: 0.2s;
}

.button:active {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 3px rgb(1, 176, 220);
    background-color: rgb(130, 150, 169);
}

.list {
    line-height: 4.0em;
}

ol,
ul {
    margin: 20px;
    background-color: rgb(230, 241, 246);
    border: double 7px rgb(19, 52, 96);
    padding: 20px;
    border-radius: 9px;
}

li {
    margin: 5px 20px;
}

p {
    margin: 20px;
    background-color: rgb(230, 241, 246);
    padding: 20px;
    border: double 7px rgb(19, 52, 96);
    border-radius: 9px;

}

.Sub-Heading {
    font-size: 24px;
    color: rgb(230, 241, 246);
    border: double 10px rgb(206, 228, 248);
    background-color: rgb(19, 52, 96);
    border-radius: 12px;
    line-height: 1.5em;
    text-indent: 10px;
    margin: 10px;
}

.photo {
    display: block;
    margin: 20px auto;
    height: 400px;
    width: auto;
    background-color: rgb(230, 241, 246);
    border: double 9px rgb(19, 52, 96);
    border-radius: 10px;
}

.home.page {
    color: rgb(19, 52, 96);
    background-color: rgb(206, 228, 248);
    outline-color: rgb(206, 228, 248);
    border-color: rgb(19, 52, 96);
    border-radius: 7px;
    font-family: Tahoma, sans-serif;
    outline-color: transparent;
}

.home.page:hover {
    color: rgb(206, 228, 248);
    background-color: rgb(19, 52, 96);
    transition: 0.2s;
}

.home.page:focus {
    outline-style: solid;
    box-shadow: 0 0 0 3px rgb(1, 132, 220);
    transition: 0.2s;
}

.homepage:active {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 3px rgb(1, 176, 220);
    background-color: rgb(6, 26, 65);
}